*,
a,
a:hover {
	color:$black;
	font-family:$sans-serif;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration:underline;

	&.no-underline {
		text-decoration:none;
	}
}

body {
	background-color:$white;

	&.no-scroll {
		overflow: hidden;
	}
}
